body
  font-size 16px
  font-family 'Arial', sans-serif
  border 0
  padding 0
  margin 0
  text-align center
  position relative
  display inline-block

.Header
  position fixed
  display block
  top 0
  background-color #008F8F
  color white
  height 56px
  width 100%
  text-align left
  z-index 1

  &-logo
    position relative
    display inline-block
    width 80px
    margin 8px 8px 0 32px

  &-title
    position relative
    display inline-block
    font-size 1.1em
    top -15px
    font-weight lighter

.Body
  display inline-block
  position relative
  top 60px
  width 80%
  margin auto 0
  margin-bottom 120px

  &-title
    color #0099CC

  &-text
    line-height 16px
    color #AA;

  &-imgfull
    width 100%

.MainButtons
  margin-top 32px

.MainButton
  display inline-block
  width 30%
  box-sizing border-box

  &-icon
    display inline-block
    border solid #25B8A9 3px
    border-radius 10px
    padding 18px 18px
    margin-top 10px

  &-label
    position relative
    display block
    font-size 1.3em
    color #25B8A9

  &:hover
    background-color #EEEEEE
    border-radius 10px
    cursor pointer

.Registration
  display none
  margin 42px auto 0 auto
  max-width 560px

  &-block
    display inline-block
    text-align left

  &-block2
    display block
    text-align right
    margin-top 16px

  &-label
    font-size 1.2em
    margin 8px 8px 8px 0px
    color #008F8F

  &-text
    font-size 1.2em
    color gray
    border none
    border-bottom 1px solid #008F8F
    outline none

  &-button
    font-size 1em
    border none
    background-color #008F8F
    border 1px solid #008F8F
    color white
    border-radius 4px
    padding 4px 16px

  &-button:hover
    background-color white
    color #008F8F

  &-button:disabled
    background-color silver
    border 1px solid gray
    color gray

  &-confirmation
    color #008f8f
    font-size 1.4em

.Footer
  position fixed
  bottom 0
  width 100%
  border solid #008F8F 1px
  background-color white
  color #008F8F
  text-align center
  height 32px
  font-size .8em
  line-height .6em
